.navspace {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  top: 0;
  margin-top: 30px;
  z-index: 1000;
  flex-direction: column;
  align-items: center;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  color: black;
  width: 95%;
  border-radius: 40px;
  padding: 10px 20px;
  height: 50px;
  position: relative;
}

.logo {
  background-color: #1b34ab;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menus {
  display: flex;
  gap: 30px;
  padding-right: 30px;
}

.letstalk {
  background-color: #1b34ab;
  color: white;
  border: none;
  border-radius: 50px;
  padding-right:  30px;
  height: 80%;
  cursor: pointer;
}

.hamburger {
  display: none;
}

.mobile-menu {
  display: none;
}

@media (max-width: 1024px) {
  .hamburger {
    display: flex;
    position: fixed;
    top: 2px;
    left: 5px;
    z-index: 1000;
    justify-content: center;
    align-items: center;
  }

  .desktop-menu {
    display: none;
  }

  .desktop-button {
    display: none;
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;
    background-color: white;
    /* width: 80%; */
    max-width: 250px;
    border-radius: 20px;
    padding: 20px;
    margin-top: 10px;
    gap: 15px;
    color: black;
    text-align: left;
    align-self: flex-start;
    position: relative;
    top: 30px;
  }

  .mobile-menu h3 {
    margin: 0;
    cursor: pointer;
  }

  .letstalkmob {
    background-color: #1b34ab;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px 30px;
    cursor: pointer;
    align-self: left;
    width: 130px;
    height: 40px;
  }
  .navbar{
    display: none;

  }
}
